html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}


.navbar{
    background-color: rgba(82, 82, 82, 0.8) ;
    border-radius: 0px 0px 150px 150px;
    z-index: 1;
    opacity:0.5;
}

.resume-highlight {
    background-color: #262626; /* Default background color */
    padding: 4px 8px; 
    border-radius: 10px; 
}

.resume-highlight:hover {
    background-color: black; /* Change to black on hover */
}



/*HOME SECTION*/

#home {
    display: flex;
    background-image: url(../images/beige.png);
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.text-container{
    align-self: center;
}

.image-container{
    order:2;
    align-self:flex-end;
    margin-left: 100px;
}

/*NEW ABOUT SECTION*/
#about{
    display: grid;
    justify-content: center; 
    align-items: center;     
}

.container-about{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(10,1fr);
    width: 100%;
    height: 1000px; /*need pa i edir ang height ania ha*/
}

.a-item-1{
    grid-row: span 1;
    grid-column: span 10;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.a-item-2{
    grid-area: 2 / 1 / 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.a-image-container{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.a-item-3{
    grid-area: 2 / 6 / 5 / 10;
    overflow: hidden;
}

/*PORTFOLIO SECTION*/
.container-portfolio{
    display: grid;
    grid-template-rows: repeat(8, 1fr); /* Dynamic height */
    grid-template-columns: repeat(9, 1fr); /* Dynamic width */
    width: 95%; /* Or some other flexible unit */
    height: 100vh;/* Adjusts based on content */
    
}

.p-item-1{
    grid-row: span 1;
    grid-column:span 9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    text-align:center;
}

.p-item-2{
    grid-area: 2 / 1 / 9 / 4;
}

.p-item-3{
    grid-area: 2 / 4 / 9 / 7;
}

.p-item-4{
    grid-area: 2 / 7 / 9 / 10;
}

/*CONTACT SECTION*/
.container-contact{
    display: grid;
    grid-template-rows: repeat(6, 1fr); /* Dynamic height */
    grid-template-columns: repeat(10, 1fr); /* Dynamic width */
    width: 100%; /* Or some other flexible unit */
    height:600px/* Adjusts based on content */

}

.c-item-1{
    grid-row: span 1;
    grid-column:span 10;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    text-align:center;

}


/*RESUME PAGE*/

.header{
    background-color:#fafafa;
    padding: 12px;
    text-align: center;
    opacity: 0.7;
    border-bottom: 1.5px solid #737373;
}

.container-education
{
    display: grid;
    grid-template-rows: repeat(10, 100px);
    grid-template-columns: repeat(10, 100px); 
    justify-content: center;
}

.r-item-1{
    grid-row: span 1;
    grid-column: span 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-item-2{
    grid-area: 2/ 1/ 7 / 7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.r-image-container{
    width:400px;
    height: 450px;
    border: 4px solid #a3a3a3;
    overflow: hidden;
    justify-content: center;
    align-self:center;
    position: relative;
    border-radius: 10px;
}

.r-image-container:hover{
    border-color: #404040;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

}


.relative {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.block:hover .overlay {
    opacity: 1;
}

img {
    transition: filter 0.3s ease;
}

.block:hover img {
    filter: brightness(0.5);
}






